.page-service {
  .contents {
    a:hover {
      text-decoration: none;
    }
    h3 {
      font-family: 'PT Sans', sans-serif;
      line-height: 2;
      padding-top: 1rem;
    }
    p {
      padding-left: .2rem;
      line-height: 1.4;
      font-size: 1rem;
    }
  }
}
