.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  font-family: 'PT Sans', sans-serif;
  color: $white;
  background-color: #1B3EA4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $white-offset;
  padding: 10px 0px;
  a {
    color: $white !important;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
