.intro-image {
  width: 100%;
  height: auto;
  margin-top: -40px;
}
.intro-image-absolute {
  max-width: none;

  padding: 0;
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
    position: relative;
    top: 50px;
    width: 500px;
  }
  @include media-breakpoint-up(lg) {
    top: 60px;
    width: 600px;
  }
  @include media-breakpoint-up(xl) {
    top: 100px;
    width: 650px;
  }
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
